# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations (optional – keep if you use Alembic later)
# alembic/versions/

# Secrets
*.key
*.pem


notes.md