fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary

# Auth & Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2

# Validation
pydantic
email-validator

# Env & config
python-dotenv

# Emails
resend

# Utils
python-multipart

slowapi
requests 